    
    <!-- views/partials/footer.ejs -->
    <footer class="footer">               
        <h5>
            Shortcutter&#174 by <a href="https://github.com/pawellesniowski" target="_blank"> <span>Pawel Lesniowski.</span></a> Technologies used in this fullstack project:
        </h5>
        <div class="footer_icons">
            <i class="devicon-nodejs-plain-wordmark"></i>
            <i class="devicon-express-original-wordmark"></i>
            <i class="devicon-mongodb-plain-wordmark"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-html5-plain"></i>
        </div>
    </footer>